@import '../mixins/index';

.advantages {
  padding-block: 80px;
  background: var(--accent-color-alpha-subtle);

  &__container {
    @include container;
  }

  &__subtitle {
    margin-top: 15px;
    max-width: 700px;
    font-size: 16px;
  }

  &__grid-container {
    margin-top: 30px;
    row-gap: 20px;

    @include grid;
  }

  &__item {
    grid-column: span 4;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-mobile {
      grid-column: span 4;
    }
  }

  &__item-number {
    display: inline-block;
    padding: 14px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    color: var(--on-accent-color);
    background: var(--accent-color);
  }

  &__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    margin-top: 15px;
  }

  &__item-description {
    margin-top: 15px;
  }
}
