@import '../mixins/index';

.projects {
  &__container {
    row-gap: 50px;

    @include container;
    @include grid;
  }

  &__card {
    grid-column: span 4;

    @include on-tablet {
      grid-column: 1 / -1;
    }
  }
}
