@import '../mixins/index';

.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__img-container {
    position: relative;
    width: 100%;

    &::after {
      display: block;
      content: '';
      padding-bottom: 51.68%;
    }
  }

  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  &__tag {
    margin-top: 15px;
  }

  &__title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 110%;
  }

  &__text {
    margin-top: 15px;
    margin-bottom: auto;
  }

  &__link {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    color: var(--accent-color);
    transition: gap 0.15s ease;
    outline: none;

    &:hover,
    &:focus {
      gap: 5px;
    }
  }

  &__link-icon {
    width: 12px;
    height: 12px;
  }
}
