@import '../mixins/index';

.technologies {
  &__container {
    @include container;
  }

  &__options {
    overflow: hidden;
  }

  &__options-container {
    margin-top: 30px;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  &__option {
    flex: 1 1 0;
    min-width: fit-content;
  }

  &__option-button {
    outline: none;
    font: inherit;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    border: 0;
    padding-bottom: 8px;
    padding-right: 8px;
    background: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    box-shadow: inset 0 -3px 0 0 #5646cc26;
    transition: box-shadow 0.15s ease;

    &--selected,
    &:hover,
    &:focus-visible {
      box-shadow: inset 0 -3px 0 0 var(--accent-color);
    }
  }

  &__slider {
    margin-top: 50px;
    overflow: hidden;
    cursor: grab;
    user-select: none;
  }

  &__slider-container {
    display: flex;
    gap: 20px;
  }

  &__slide {
    flex: 0 0 100%;
    min-width: 0;
    display: flex;
    gap: 80px;

    @include on-laptop {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__slide-text {
    font-size: 18px;
  }

  &__slider-button {
    margin-top: 20px;
  }

  &__slider-button-icon {
    width: 14px;
    height: 14px;
  }

  &__achievements {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 20px;

    @include on-tablet {
      flex-wrap: wrap;
    }
  }

  &__achievement {
    padding: 45px 30px;
    flex-grow: 1;
    text-align: center;
    flex-shrink: 0;
    color: var(--on-accent-color);
    width: 255px;
    background: var(--accent-color);
    border-radius: 20px;
  }

  &__achievement-number {
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
  }

  &__achievement-text {
    margin-top: 8px;
  }
}
