:root {
  --background-color: #fff;
  --primary-color: #1e1e1e;
  --on-primary-color: #fff;
  --secondary-color: #1e1e1e80;
  --accent-color: #5646cc;
  --accent-color-alpha: #5646cc33;
  --accent-color-alpha-subtle: #5646cc1a;
  --on-accent-color: #fff;
  --container-padding: 20px;
}
